.log-sign{
    background-color: #0f0f0f;
    height: calc(100vh - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.sign-log-in{
    margin-top: 10px;
    margin-bottom: 20px;
}

.or{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    font-size: 25px;
    color:white;
}

.sign-text{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    color:white;
}

.sign-inp{
    margin: 3px;
    background-color: transparent;
    border-color:white;
    border-radius: 5px;
    padding: 2px;
    display: flex;
    justify-content: center;
}

.sign-button{
    background-color: rgb(255, 255, 255);
    border-style: none;
    border-radius: 3px;
    padding: 5px;
    margin-top: 10px;
}

.sign-container{

    background-color:#272727;
    border-radius: 10px;
    height: 400px;
    width: 300px;
}